@import "~bootstrap/scss/bootstrap";
@import '~bootstrap-vue/src/index.scss';
 

$danger:#af4448;
$info:#81b9bf;
$warning:#ffb74d;
$success:#94af76;

body{
    margin-top: auto;
    background-color: $light;
}

body::-webkit-scrollbar {
  width: .5rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #82ada9;
}

.btn{
	&.btn-danger{
		background: $danger;
		border-color: $danger;
		&:hover, &:focus{
			background: $danger !important;
			border-color: $danger !important;
		}
	}
}
.btn{
	&.btn-info{
		background: $info;
		border-color: $info;
		&:hover, &:focus{
			background: $info !important;
			border-color: $info !important;
		}
	}
}
.btn{
	&.btn-warning{
		background: $warning;
		border-color: $warning;
		&:hover, &:focus{
			background: $warning !important;
			border-color: $warning !important;
		}
	}
}
.btn{
	&.btn-success{
		background: $success;
		border-color: $success;
		&:hover, &:focus{
			background: $success !important;
			border-color: $success !important;
		}
	}
}